// Task due date label styles

.dueDate {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;

  // Size variants
  &.small {
    font-size: 11px;

    .icon {
      font-size: 11px;
    }
  }

  &.medium {
    font-size: 12px;

    .icon {
      font-size: 12px;
    }
  }

  &.large {
    font-size: 14px;

    .icon {
      font-size: 14px;
    }
  }

  // Urgency variants
  &.none {
    color: #605e5c;

    .icon {
      color: #8a8886;
    }
  }

  &.soon {
    color: #c45d00;
    font-weight: 500;

    .icon {
      color: #ffb900;
    }
  }

  &.overdue {
    color: #a4262c;
    font-weight: 600;

    .icon {
      color: #d13438;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
}

.text {
  line-height: 1.2;
}
